[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = git@github.com:tpope/vim-pathogen.git
	ignore = dirty
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
	ignore = dirty
[submodule "bundle/tmux.vim"]
	path = bundle/tmux.vim
	url = git@github.com:zaiste/tmux.vim.git
	ignore = dirty
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized.git
	ignore = dirty
[submodule "bundle/vimwiki"]
	path = bundle/vimwiki
	url = git@github.com:vim-scripts/vimwiki.git
	ignore = dirty
[submodule "bundle/tcomment_vim"]
	path = bundle/tcomment_vim
	url = git@github.com:tomtom/tcomment_vim.git
	ignore = dirty
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = git@github.com:bling/vim-airline.git
	ignore = dirty
[submodule "bundle/vim-bufferline"]
	path = bundle/vim-bufferline
	url = git@github.com:bling/vim-bufferline.git
	ignore = dirty
[submodule "bundle/vim-vinegar"]
	path = bundle/vim-vinegar
	url = git@github.com:tpope/vim-vinegar.git
	ignore = dirty
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "bundle/vim-multiple-cursors"]
	path = bundle/vim-multiple-cursors
	url = git@github.com:terryma/vim-multiple-cursors.git
